@import "../utils/variables";

@mixin btnStyle(
  $bg-color,
  $border-color,
  $hover-bg-color,
  $hover-color,
  $hover-border-color
) {
  background-color: $bg-color;
  color: $white;
  font-size: inherit;
  font-family: inherit;
  border: 2px solid $border-color;

  &:hover,
  &:focus {
    background-color: $hover-bg-color;
    color: $hover-color;
    border-color: $hover-border-color;
  }
}

.btn {
  display: inline-block;
  border-radius: $small-radius;
  padding: $padding-small $padding-larger;
  transition: 0.3s;
  width: fit-content;

  &--primary {
    @include btnStyle(
      $color-primary,
      $color-primary,
      $white,
      $color-primary,
      $color-primary
    );
  }

  &--secondary {
    @include btnStyle(
      $color-secondary,
      $color-secondary,
      $white,
      $color-secondary,
      $color-secondary
    );
  }

  &--tertiary {
    @include btnStyle(transparent, $white, $white, $color-secondary, $white);
  }
}
