@import "../utils/variables";

table {
  border-collapse: collapse;

  tr {
    border-bottom: $default-border-width solid $grey-dark;

    td {
      height: 3rem;
      padding-right: $padding-larger;

      > * {
        height: 100%;
      }
    }
  }
}
