@import "../utils/variables";

.text-tag {
  width: fit-content;
  border: $default-border-width solid $color-primary;
  border-radius: $large-radius;
  padding: $padding-smaller $padding-small;
  background-color: $white;
  color: $color-primary;
  font-size: $text-smaller;
  text-transform: uppercase;
}
