<div class="home-page__banner">
  <div class="home-page__banner__container">
    <h1 class="heading--large text--white mb-larger">
      {{ "homePage.title.main" | translate }}
    </h1>
    <a href="" class="btn btn--tertiary mb-larger">
      {{ "homePage.button.buy" | translate }}
    </a>
    <p class="text--white">{{ "homePage.infoText.trial" | translate }}</p>
  </div>
</div>
<div class="home-page__content">
  <div class="home-page__content__container">
    <div>
      <picture>
        <source
          media="(max-width: 768px)"
          srcset="/assets/images/embrace_logo-sm.svg"
        />
        <img
          [src]="'/assets/images/embrace_logo.svg'"
          [alt]="'homePage.alt.embraceLogo' | translate"
          class="mb-larger"
        />
      </picture>
      <h2 class="heading--medium mb-larger">
        {{ "homePage.title.secondary" | translate }}
      </h2>
      <p class="mb-larger">
        {{ "homePage.infoText.aboutEmbrace" | translate }}
      </p>
    </div>
    <img
      srcset="
        /assets/images/embrace_front-hdpi.jpg  183w,
        /assets/images/embrace_front-xhdpi.jpg 366w
      "
      sizes="(max-width: 768px) 183px,
                   366px"
      [src]="'/assets/images/embrace_front-hdpi.jpg'"
      [alt]="'homePage.alt.embraceWatch' | translate"
      class="home-page__content__container__watch-image"
    />
  </div>
  <a href="" class="home-page__content__button btn btn--primary">
    {{ "homePage.button.discover" | translate }}
  </a>
</div>
