@import "../../../styles/utils/variables";

$homepage-padding-large: 10vw;
$homepage-padding-medium: 7vw;
$homepage-padding-small: max(#{$padding-largest}, 5vw);

@mixin center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-page {
  &__banner {
    background-image: url("/assets/images/homepage_hero-lg-xhdpi.jpg");
    background-position: right 0;

    @media only screen and (max-width: $screen-small) {
      background-image: url("/assets/images/homepage_hero-lg-hdpi.jpg");
    }

    @media only screen and (orientation: portrait) {
      @media only screen and (max-height: $screen-large) {
        background-image: url("/assets/images/homepage_hero-sm-xhdpi.jpg");
      }

      @media only screen and (max-height: $screen-small) {
        background-image: url("/assets/images/homepage_hero-sm-hdpi.jpg");
      }
    }

    background-size: cover;
    height: 100vh;

    &__container {
      height: 100%;
      display: grid;
      grid-template-rows: 75% repeat(2, 1fr);
      align-items: end;
      padding: $homepage-padding-medium $homepage-padding-large;

      > h1 {
        max-width: 30rem;
      }

      @media only screen and (max-width: $screen-medium) {
        @include center-content();
        justify-content: flex-end;
      }
    }
  }

  &__content {
    padding: $homepage-padding-small $homepage-padding-large;

    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: $padding-largest;
    }

    @media only screen and (max-width: $screen-medium) {
      &__container {
        @include center-content();
        justify-content: flex-end;

        &__watch-image {
          margin-bottom: $margin-larger;
        }
      }

      &__button {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
