@import "../../../styles/utils/variables";

.modal-content {
  width: fit-content;
}

.modal-footer {
  display: block;
  height: fit-content;
  padding: $padding-small $padding-default;

  > button {
    display: block;
    width: 100%;
  }
}
