<div class="modal-content">
  <div class="modal-header">
    <h1 class="heading--small">{{ translatePrefix + ".title" | translate }}</h1>
  </div>
  <div class="modal-body">
    {{ translatePrefix + ".message" | translate }}
  </div>
  <div class="modal-footer">
    <button class="btn btn--primary mb-small" (click)="confirm()">
      {{ translatePrefix + ".confirmOption" | translate }}
    </button>
    <button
      *ngIf="hasSecondButton"
      class="btn btn--secondary"
      (click)="cancel()"
    >
      {{ translatePrefix + ".cancelOption" | translate }}
    </button>
  </div>
</div>
