@import "../../../../styles/utils/variables";

.user-orders {
  // 100% height minus combined sizes of footer and navigation
  min-height: calc(
    100vh - (#{$base-font-size} * 2) - (#{$navigation-padding-top-bottom} * 2) -
      (#{$footer-padding-top-bottom} * 2)
  );

  &__user-container {
    padding: $padding-large $padding-largest;
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__orders-container {
    // Provide fallback for browsers that don't support clamp
    padding: $padding-large;
    padding: clamp($padding-large, 5.5vw, $padding-larger)
      clamp($padding-large, 5.5vw, $padding-largest);
  }
}
