<div class="user-orders">
  <div
    *ngIf="user$ | async as user"
    class="user-orders__user-container text--white"
  >
    <div>
      <h1 class="heading--medium">{{ user.firstName }} {{ user.lastName }}</h1>
      <p>{{ user.email }}</p>
    </div>
    <picture>
      <source
        media="(max-width: 768px)"
        srcset="/assets/images/embrace_logo_white_small.svg"
      />
      <img
        [src]="'/assets/images/embrace_logo_white.svg'"
        [alt]="'homePage.alt.embraceLogo' | translate"
      />
    </picture>
  </div>

  <div *ngIf="orders" class="user-orders__orders-container">
    <h2 class="user-orders__orders-container__title heading--medium">
      {{ "userOrders.orders.title" | translate }}
    </h2>
    <p
      *ngIf="orders.length !== 0; else noOrders"
      id="ordersText"
      class="mb-large"
      [innerHTML]="'userOrders.orders.infoText' | translate"
    ></p>
    <ng-template #noOrders>
      <p class="mb-large" id="noOrdersText">
        {{ "userOrders.orders.noOrders" | translate }}
      </p>
    </ng-template>

    <app-order-card
      *ngFor="let order of orders"
      [order]="order"
      (orderDeleted)="onOrderCancellation($event)"
    ></app-order-card>
  </div>
</div>
