.m {
    &b {
        &-smaller {
            margin-bottom: $margin-smaller;   
        }

        &-small {
            margin-bottom: $margin-small;   
        }

        &-default {
            margin-bottom: $margin-default;   
        }

        &-large {
            margin-bottom: $margin-large;   
        }

        &-larger {
            margin-bottom: $margin-larger;   
        }

        &-largest {
            margin-bottom: $margin-largest;   
        }
    }
}