.p {
    &b {
        &-smaller {
            padding-bottom: $padding-smaller;   
        }

        &-small {
            padding-bottom: $padding-small;   
        }

        &-default {
            padding-bottom: $padding-default;   
        }

        &-large {
            padding-bottom: $padding-large;   
        }

        &-larger {
            padding-bottom: $padding-larger;   
        }

        &-largest {
            padding-bottom: $padding-largest;   
        }
    }
}