// COLORS
$white: #fff;
$color-primary: #bc204b;
$color-secondary: #333;
$grey-light: #edeff0;
$grey-dark: #707070;

// FONTS
$heading-large: 2.33rem;
$heading-medium: 1.78rem;
$heading-small: 1.22rem;
$text-small: 0.85rem;
$text-smaller: 0.7rem;

$base-font-size: 18px;

// PADDING
$padding-smaller: 0.25rem;
$padding-small: 0.5rem;
$padding-default: 1rem;
$padding-large: 1.5rem;
$padding-larger: 2rem;
$padding-largest: 3rem;

// MARGIN
$margin-smaller: 0.25rem;
$margin-small: 0.5rem;
$margin-default: 1rem;
$margin-large: 1.5rem;
$margin-larger: 2rem;
$margin-largest: 3rem;

// BORDER-STYLES
$small-radius: 3px;
$large-radius: 15px;
$default-border-width: 1.5px;

// SCREEN SIZES
$screen-small: 480px;
$screen-medium: 768px;
$screen-large: 1024px;

// CUSTOM SIZES
$footer-padding-top-bottom: $padding-large;
$navigation-padding-top-bottom: $padding-large;
