@import "../../../../styles/utils/variables";

.order-card {
  background-color: $grey-light;
  margin-bottom: $margin-larger;

  // Provide fallback for browsers that don't support clamp
  padding: $padding-default;
  padding: $padding-default clamp($padding-default, 3.75vw, $padding-larger);

  &__order-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    &__buttons {
      margin-bottom: $margin-small;

      > button {
        transition: 0.2s all;

        &:hover,
        &:active,
        &:focus {
          &:not(:disabled) {
            filter: saturate(2) drop-shadow(1px 1px 1px $grey-dark);
            transform: scale(1.1);
          }
        }

        &:disabled {
          filter: grayscale(2) opacity(0.5);
          cursor: default;
        }

        &:focus {
          outline: none;
        }

        &:not(:first-child) {
          margin-left: $margin-default;
        }
      }
    }
  }

  &__shipping-details {
    margin-bottom: $margin-default;
    width: fit-content;
  }

  &__order-content {
    display: flex;
    flex-wrap: wrap;
    background-color: $white;
    padding: $padding-default $padding-default $padding-small;
    margin-bottom: $margin-default;

    > * {
      min-width: 50%;
      margin-bottom: $margin-large;
    }

    &__item-image {
      height: 100%;

      @media only screen and (max-width: $screen-small) {
        padding: 0;
      }
    }
  }

  &__amounts-container {
    width: fit-content;

    &__amount {
      display: flex;
      justify-content: space-between;

      > span {
        padding-right: $padding-default;
      }

      &:first-child {
        border-bottom: $default-border-width solid $grey-dark;
      }

      &:not(:first-child) {
        padding-top: $padding-smaller;
      }

      &:not(:last-child) {
        font-size: $text-small;
        padding-bottom: $padding-smaller;

        > span:first-child {
          font-weight: bold;
        }
      }

      &:last-child {
        border-top: $default-border-width solid $grey-dark;

        > span:first-child {
          font-weight: 900;
        }
      }
    }
  }
}
