<div class="order-card" [id]="'order' + order.id">
  <div class="order-card__order-details-container">
    <div>
      <h3 class="heading--small mb-small">
        {{ "userOrders.order.title" | translate: { reference: order.ref } }}
      </h3>
      <div class="text-tag mb-default">
        <span>{{ "userOrders.order.status" | translate }}</span
        >: {{ order.status | translate }}
      </div>
    </div>
    <div class="order-card__order-details-container__buttons">
      <button
        [id]="'deleteOrderBtn' + order.id"
        (click)="deleteOrder(order.id)"
        [disabled]="order.tracking?.status === 'in_transit'"
      >
        <img
          [src]="'/assets/images/delete.svg'"
          [alt]="'userOrders.order.delete.alt' | translate"
        />
      </button>

      <button [id]="'collapseOrderBtn' + order.id" (click)="toggleCollapse()">
        <img
          [src]="
            '/assets/images/arrow-' + (isCollapsed ? 'down' : 'up') + '.svg'
          "
          [alt]="'userOrders.order.delete.alt' | translate"
        />
      </button>
    </div>
  </div>

  <ng-container *ngIf="!isCollapsed">
    <div
      *ngIf="order.tracking"
      class="order-card__shipping-details"
      [id]="'shippingDetailsOrder' + order.id"
    >
      <dl>
        <div>
          <dt>{{ "userOrders.order.shipping.status.label" | translate }}:</dt>
          <dd>
            {{
              "userOrders.order.shipping.status." + order.tracking.status
                | translate
            }}
          </dd>
        </div>

        <div>
          <dt>{{ "userOrders.order.shipping.carrier" | translate }}:</dt>
          <dd>{{ order.tracking.carrier }}</dd>
        </div>

        <div>
          <dt>{{ "userOrders.order.shipping.code" | translate }}:</dt>
          <dd>{{ order.tracking.trackingCode }}</dd>
        </div>
      </dl>
    </div>

    <div class="order-card__order-content">
      <app-table [translatePrefix]="'userOrders.order.items.'">
        <tr *ngFor="let item of order.items">
          <td class="order-card__order-content__item-image">
            <picture>
              <!-- Don't load the image on mobile devices, for lack of space. Instead, load a 1x1 pixel image. -->
              <!-- See https://medium.com/@mike_masey/how-to-use-the-picture-element-to-prevent-images-loading-on-mobile-devices-1376e33b190e -->
              <source
                media="(max-width: 480px)"
                srcset="/assets/images/1-px.png"
              />
              <img
                [src]="'/assets/images/embrace_front-ldpi.jpg'"
                [alt]="'userOrders.order.items.alt' | translate"
              />
            </picture>
          </td>
          <td>{{ item.name }}</td>
          <td>${{ item.amount }}</td>
        </tr>
      </app-table>

      <app-table [translatePrefix]="'userOrders.order.discounts.'">
        <tr *ngFor="let discount of order.discounts">
          <td>{{ discount.name }}</td>
          <td>--{{ discount.value | discount: discount.type }}</td>
        </tr>
      </app-table>
    </div>
    <div class="order-card__amounts-container">
      <div
        *ngFor="let amount of orderAmounts | keyvalue: returnZero"
        class="order-card__amounts-container__amount"
      >
        <span
          >{{
            "userOrders.order.amounts." + amount.key.toString() | translate
          }}:</span
        ><span
          >{{ amount.key.toString() === "discount" ? "--" : "" }} ${{
            amount.value.toString() | number: "1.2-2"
          }}</span
        >
      </div>
    </div>
  </ng-container>
</div>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
