@import "../../../styles/utils/variables";

.navbar {
  background-color: $grey-light;
  padding: $navigation-padding-top-bottom $padding-small;
  color: $grey-dark;
  border-bottom: $default-border-width solid $grey-dark;
  display: flex;
  justify-content: space-evenly;

  &__link {
    font-family: "Apex";
    font-size: $heading-small;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: $default-border-width;
      background-color: $color-primary;
      opacity: 0;
      transition: 0.3s all;
    }

    &:hover,
    &:focus {
      &::after {
        left: 0;
        width: 100%;
        opacity: 1;
      }
    }
  }
}
