<h3 class="table__title">
  {{ translatePrefix + "title" | translate }}
</h3>
<table>
  <tr *ngIf="headings.length !== 0" class="table__row">
    <th *ngFor="let heading of headings">
      {{ translatePrefix + heading | translate }}
    </th>
  </tr>
  <ng-content select="tr"></ng-content>
</table>
