@import "../utils/variables";

@font-face {
  font-family: "Apex";
  src: url("/assets/fonts/Apex/ApexNew-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex";
  src: url("/assets/fonts/Apex/ApexNew-BookItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Apex";
  src: url("/assets/fonts/Apex/ApexNew-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Apex";
  src: url("/assets/fonts/Apex/ApexNew-V2-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Apex";
  src: url("/assets/fonts/Apex/ApexNew-V2-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato/Lato-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato/Lato-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato/Lato-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato/Lato-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato/Lato-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato/Lato-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

html {
  font-size: $base-font-size;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: $color-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Apex", Helvetica, Arial, sans-serif;
}

dt {
  font-weight: bold;
  margin-right: $margin-small;
}

dd,
dt {
  display: inline-block;
}

.text {
  &--white {
    color: $white;
  }
}

.heading {
  &--large {
    font-size: $heading-large;
    font-weight: 500;
  }

  &--medium {
    font-size: $heading-medium;
    font-weight: 500;
  }

  &--small {
    font-size: $heading-small;
    font-weight: 500;
  }
}
